<div class='col-sm-4 container-fluid card mt-4 mb-2'>
  <img src={{image_url}} class='img-new' alt='Beer Image' />
  <div class='card-body'>
    <a href='/beers/{{id}}'><h3 class='card-title'>{{name}}</h3></a>
    <h6 class='card-subtitle mb-2 text-muted'>{{tagline}}</h6>
    <p class='card-text'>{{description}}</p>
  </div>
</div>